@import '../../../css/mixins.scss';

.productWrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    display: none;

    @include mobile-small-landscape {
        height: initial;
    }
}

.productsContainer {
    width: 66.5%;
    height: 100%;
    float: right;
    background: url(/assets/images/ship.jpg);
    // background-position-x: -21vw;
    background-repeat: no-repeat;
    background-size: cover;

    @include mobile-portrait {
        width: 100%;
    }

    @include mobile-small-landscape {
        width: 100%;
        height: calc(100% - 50px);
        padding-top: 50px;
    }
}

.productsHolder {
    overflow-y: scroll;
    height: calc(100% - 150px);
    padding-top: 150px;

    @include mobile-portrait {
        height: calc(100% - 75px);
        padding-top: 75px;
    }

    @include mobile-small-landscape {
        height: calc(100% - 35px);
        padding-top: 35px;
    }
}

.fullProduct {
    display: none;
    position: absolute;
    width: 66.5%;
    height: 100%;
    margin-left: 33.5%;
    z-index: 2;
    background-color:#F0D8B8;
    overflow: hidden;
}

.fullProductWrapper {
    position: relative;
    padding-top: 150px;
    overflow: hidden;
    img {
        max-height: 360px;
        max-width: 500px;
    }
}
.fullProductName {
    width: 94%;
    font-weight: bold;
    background-color: white;
    padding-top: 12px;
    padding-bottom: 12px;
    font-size: large;
    border-radius: 40px;
    margin: auto;
}
.fullProductWeight {
    font-style: italic;
}
.fullProductInfo {

}

.closeIcon {
    height: 50px;
    width: 50px;
    top: -95px;
    transform: translateX(45vw);
    cursor: pointer;
    z-index: 4;

    @include tablet-portrait {
        display: block;
    }
    @include mobile-large-landscape {
        display: block;
    }

    @include mobile-portrait {
        transform: scale(0.7);
    }
  span {
        display: block;
        position: absolute;
        height: 9px;
        width: 100%;
        background: maroon;
        border-radius: 10px;
        border: 2px solid white;
        opacity: 1;
        left: 0;
        transition: .25s ease-in-out;

        &:nth-child(1){
            transform: rotate(45deg);
            top: 0px;
            left: 8px;
            transform-origin: left center;
        }
        &:nth-child(2){
            transform: rotate(-45deg);
            left: 8px;
            top: 38px;
            transform-origin: left center;
        }
  }
}