@import '../../css/mixins.scss';

@mixin tablet-mobile-state(){
    @include tablet-portrait {
        width: 100%;
    }
     @include mobile-small-landscape {
        width: 100%;
     }
}
.innerleft {
    position: relative;
    height: 100%;
    float: left;
    vertical-align: top;
    background: url(/assets/images/bg.jpg);
    background-position-x: -25vw;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    transition: width 0.3s ease;


    @include tablet-portrait {
        width: 100%;
        height: 30%;
        background-size: initial;
        background-position: center top;
    }
    @include mobile-small-landscape {
        width: 100%;
        height: 100%;
        background-position: initial;
        background-attachment: initial;
    }

    @include mobile-portrait {
        // position: fixed;
        z-index: 4;
    }
}

.HomePageState {
    @include tablet-mobile-state();
    width: 50vw;
}

.AboutPageState {
    @include tablet-mobile-state();
    width: 30vw;
}

.ProductPageState {
    @include tablet-mobile-state();
    width: 25vw;
}

.ContactPageState {
    @include tablet-mobile-state();
    width: 50vw;
}

.logo {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 15vw;


    @include mobile-small-landscape {
        width: 35vmin;
    }
    @include mobile-portrait {
        width: 28vmin;
        top: 45%;
    }
}

.logotitle {
    transform: scale(1.6) translate(0px,10px);
}

.shadow {
    height: 100%;
    width: 100%;
    position: absolute;
    box-shadow: inset 0 0 5rem rgba(0,0,0,.5);
}
